.control-panel {
  background: rgb(255, 255, 178);
  width: 40%;
  height: 100%;
  vertical-align: top;

  .show {
    margin-bottom: 135px;
  }

  > button {
    width: 200px;
    height: 50px;
  }

  .new {
    background: rgb(48, 27, 254);
    color: white;
  }

  .result {
    background: rgb(252, 105, 110);
    color: white;
  }

}