.playing-panel {
  border-right: 5px solid rgb(159, 0, 23);
  width: 60%;
  height: 100%;

  .show-guess {
    background-color: rgb(155, 208, 158);
    height: 50%;

    .show {
      margin-top: 30px;
    }
  }

  .input-guess {
    background-color: rgb(176, 173, 252);
    height: 50%;
  }

  input {
    border: 0;
    background: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    outline: none;
    -webkit-appearance: none;
  }

  .guess {
    background-color: rgb(89, 179, 41);
    margin-top: 30px;
  }

}