.play {
  width: 50%;
  border: 5px solid rgb(159, 0, 23);
  height: 500px;

  > form {
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
  }

  h1 {
    text-align: left;
    margin: 0;
    padding: 20px 0 15px 60px;
    font-size: 20px;
  }

  button {
    width: 200px;
    height: 50px;
    margin: 30px 0;
    font-size: 20px;
    outline: none;
  }
}