.show {
  //background: white;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;

  span {
    background-color: white;
    display: inline-block;
    border: 1px solid black;
    width: 45px;
    height: 45px;
  }
}